*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}
body{ 
    background-image: url(./istockphoto-1126460506-612x612.jpg);
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.card{ 
    background-color: white;
    height: 80vh;
    width: 25vw;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    

}

#Login{ 
    margin: 20px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800rem;
    font-style: normal;
  }
.line{ 
    border-bottom: 1px solid black;
}

.inpt {
    border: 0;
}

.img{
    height: 30px;
    width: 30 px;
    border-radius: 50%;
}

.button{
    background: rgb(59,183,193);
background: linear-gradient(95deg, rgba(59,183,193,1) 0%, rgba(254,54,222,1) 100%, rgba(254,54,222,1) 100%);
    width: 15vw;
    height: 4vh;
    border: 0;
    border-radius: 10px;
    color: white;

}



  

